name: Go

on:
  - push
  - pull_request

jobs:

  test:
    runs-on: ubuntu-latest

    services: 
      postgres:
        image: postgres
        env:
          POSTGRES_PASSWORD: postgres
        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5
        ports:
          - 5432:5432

    steps:
      - name: Set up Go
        uses: actions/setup-go@v2
        with:
          go-version: 1.14

      - uses: actions/checkout@v2
      - name: Run Unit tests
        run: go test -v ./...
        env: 
          PG_CONN: postgresql://postgres:postgres@127.0.0.1:5432/postgres?sslmode=disable

  semantic-release:
    needs: [test]
    runs-on: ubuntu-latest
    steps:

      - uses: actions/checkout@v2
      - name: Run semantic-release
        uses: go-semantic-release/action@v1
        if: github.repository == 'casbin/casbin-pg-adapter' && github.event_name == 'push'
        with:
          github-token: ${{ secrets.GH_TOKEN }} 